@charset "UTF-8";
main{
    position: relative;
}
main section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -0%);
    background-color: rgb(56, 56, 56);
    display: inline-block;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
}

main section input{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 1px;
    background-color: rgb(92, 92, 92);
    color: white;
    border: 1px solid black;
}

#box_number{
    width: 250px;
}

.box_zero{
    width: 125px;
}